{{#> admin}}
{{#*inline "content"}}
<form action="/books/new" method="post">
    <input type="text" name="name" value="{{book.name}}" />
    <input type="submit" value="submit" />
</form>
{{/inline}}
{{/admin}}
