header.absolute.end-0.z-30.flex.items-center(class="w-4/5")
    .content__wrapper.text-4xl.me-80.ps-16
        | Welcome,
        span.admin__name.text-black
            = " " + user.firstName + " " + user.lastName
