#myModal.modal.fixed.start-0.top-0.w-full.h-full.overflow-auto
    .modal-content.flex.flex-col.justify-between
        .text-4xl Are you sure want to delete ?
        .button-wrapper.flex.justify-center
            a#confirm-modal.transition.ease-in-out.p-4.rounded-2xl(href).text-2xl.px-12 Confirm
            button#close-modal.transition.ease-in-out.p-4.rounded-2xl.text-2xl.font-black.px-12 Cancel
