<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>{{#if viewData.title}}{{ viewData.title }}{{else}}Admin - Bookshop{{/if}}</title>
</head>

<body>
    {{> _header }}
    {{> content }}
    {{> _footer }}
</body>

</html>
