header {
    background-color: white;
    width: 80%;
    height: 7rem;
    color: var(--UNACTIVE-COLOR);
}

.navbar {
    width: 20%;
    height: 100%;
    background-color: white;
    color: var(--UNACTIVE-COLOR);
}

.project__name {
    color: var(--TEXT-COLOR);
}

.navbar__link.active {
    border-right: 0.2rem solid var(--TEXT-COLOR);
}

.navbar__link,
.navbar__link__wrapper {
    transition: 0.5s;
}

.navbar__link:hover {
    border-right: 0.2rem solid white;
}

.navbar__link__wrapper:hover {
    background-color: var(--ACTIVE-COLOR);
    color: var(--TEXT-COLOR);
    border-radius: 0.5rem;
}

.navbar__link__wrapper.active {
    background-color: var(--ACTIVE-COLOR);
    color: var(--TEXT-COLOR);
    border-radius: 0.5rem;
}

.content {
    width: 80%;
    padding-top: 7rem;
}

.search__form {
    width: 40rem;
}

.search__input__wrapper {
    background-color: #F5F9FC;
}

input[type="text"].search {
    background-color: #F5F9FC;
}

input[type="text"].search:visited {
    border: none;
}



.t-head-wrapper {
    width: 95%;
    padding: 1rem 8rem 1rem 2rem;
}

.t-row-wrapper {
    width: 100%;
    padding: 1rem 8rem 1rem 2rem;
}

.table {
    border-radius: 2rem;
}

.action {
    right: 0%;
    top: 30%;
}

.action-path {
    width: 1.5rem;
}

.empty-data {
    font-size: 15rem;
    color: #aaa;
}

.empty-data div {
    font-size: 7rem;
}

.modal {
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 25rem;
}

#close-modal:hover,
#close-modal:focus {
    color: white;
    background-color: #aaa;
}

#confirm-modal:hover,
#confirm-modal:focus {
    color: white;
    background-color: red;
}

#close-modal {
    color: #aaa;
}

#confirm-modal {
    color: red;
    border: red 0.1rem solid;
}
