.t-head,
.t-row {
    width: calc(100% / 6);
}

.t-head-wrapper,
.t-row-wrapper {
    width: 95%;
    padding: 1rem 8rem 1rem 2rem;
}

.table {
    border-radius: 2rem;
}

.order__id {
    width: 2rem;
}

.order__total {
    width: 10rem;
}

.order__status {
    width: 10rem;
}

.order__status.shipped {
    border-radius: 0.8rem;
    padding: 0.5rem;
    color: #FFC71E;
    box-shadow: 0 0 1rem #FFC71E;
}

.order__status.shipping {
    border-radius: 0.8rem;
    padding: 0.5rem;
    color: #A0C2F6;
    box-shadow: 0 0 1rem #A0C2F6;
}


.order__status.cancel {
    border-radius: 0.8rem;
    padding: 0.5rem;
    color: red;
    box-shadow: 0 0 1rem red;
}

.order__status.completed {
    border-radius: 0.8rem;
    padding: 0.5rem;
    color: #06DDA3;
    box-shadow: 0 0 1rem #06DDA3;
}

.order__status.pending {
    border-radius: 0.8rem;
    padding: 0.5rem;
    color: var(--TEXT-COLOR);
    box-shadow: 0 0 1rem var(--TEXT-COLOR);
}

.orderItemImages {
    width: 15rem;
    height: 10rem;
}
