extends ../layouts/admin

block content

    form.create-book-form(action="new", method="post")
        .space-y-12
            .border-b.pb-12(class='border-gray-900/10')
                h2.font-semibold.leading-7.text-gray-900.text-4xl Category
            .mt-10.grid.grid-cols-1.gap-x-6.gap-y-8(class='sm:grid-cols-6')
                div(class='sm:col-span-4')
                    label.block.text-2xl.font-medium.leading-6.text-gray-900(for='name') Name
                    .mt-2
                        .flex.rounded-md.shadow-sm.ring-1.ring-inset.ring-gray-300(class=`focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md ${message && message.name ? 'border-red-400 border-2 rounded-md' : ''}`)
                            input#name.block.flex-1.bg-transparent.pl-1.text-gray-900.text-xl(type='text' value=`${acceptData ? acceptData.name: ''}` name='name' autocomplete='title' class='py-1.5 placeholder:text-gray-400 focus:ring-0' placeholder='janesmith')
                        if (message && message.name)
                            .text-red-400.text-lg
                                each error in message.name
                                    div
                                        i.fa-solid.fa-triangle-exclamation
                                        = "This field " + error
                .col-span-full
                    label.block.text-2xl.font-medium.leading-6.text-gray-900(for='about') Description
                    .mt-2
                        textarea#about.block.w-full.text-xl.rounded-md.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300(name='description' rows='3' class=`${message && message.description ? 'border-red-400 border-2 rounded-md' : ''} py-1.5 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600`)
                            if (acceptData)
                                = acceptData.description
                        if (message && message.description)
                            .text-red-400.text-lg
                                each error in message.description
                                    div
                                        i.fa-solid.fa-triangle-exclamation
                                        = "This field " + error
        .mt-6.flex.items-center.justify-end.gap-x-6
            button.text-2xl.font-semibold.leading-6.text-gray-900(type='button') Cancel
            button.rounded-md.bg-indigo-600.px-3.py-2.text-2xl.font-semibold.text-white.shadow-sm(type='submit' class='hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600') Save
