.t-head,
.t-row {
    width: calc(100% / 9);
}

.book__id {
    width: 2rem;
}

.book__title {
    width: 7rem;
}

.book__price {
    width: 5rem;
}

.book__description {
    width: 20rem;
}

.book__images {
    width: 3rem;
}

.book__category {
    width: 10rem;
}

.image-wrapper img {
    height: 7rem;
}

.action {
    transform: translateY(15%);
}

.detele-icon {
    transition: all ease-in-out 300ms;
    opacity: 0;
}
