#image-input,
.image-render {
    transition: all ease-in-out 300ms;
}

#image-input:hover,
.image-render:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.detele-icon {
    transition: all ease-in-out 300ms;
    opacity: 0;
}
